@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #643DF2;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: aliceblue;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #0000002f;

    transition: width .5s, heigth .5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: white url(../imagens/login-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}